{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="{% static 'img/icon/favicon.ico' %}" type="image/x-icon" />
		<title>达令™一手全球好货-进口零食，美妆，创意生活-跨境购海淘APP网站|达令APP官网</title>
		<meta name="keywords" content="达令，达令™，鹿晗，海淘，礼物店，跨境购，全球购，跨境电商，海外直邮，达令礼物店，达令APP，达令官网" />
		<meta name="description" content="达令™一首全球好货，每天甄选高品质时尚潮货，进口零食，美妆，创意生活用品，潮流买手带您跨境全球购，达令APP教您神马值得买.鹿晗投资，品牌授权，海关监督，免税直邮.Darling爱达令！" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}"/>
		<script src="{% static 'js/jquery-1.12.3.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/detail.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/detail_add.js' %}" type="text/javascript" charset="utf-8"></script>

{#        <script src="{% static 'js/text.js' %}" type="text/javascript" charset="utf-8"></script>#}
	</head>
	<body>
		<div class="header">
			<div class="header-con">
				<a href="#">消费者告知书</a>
				<div class="user-login">
					{% if username %}&nbsp;
                    <a href="#">欢迎您,{{ username }}</a>
					<a href="{% url 'app:logout' %}">退出</a>
                    {% else %}
                    <a href="{% url 'app:login' %}" class="main_login">登录</a>
                    {% endif %}
					<span class="line">|</span>
					<a href="{% url 'app:login' %}">注册
						<div class="reg_tip">
							<a class="tip_close">×</a>
						</div>
					</a>
					<span class="line">|</span>
					<span><span class="phone"></span>400-080-1888</span>
					<span class="line">|</span>
					<a href="#">下载达令app</a>
				</div>
			</div>
		</div>
		
		<div class="banner">
			<a href="index.html" class="logo" target="_blank"></a>
			<a href="#" class="promo"></a>
			<form>
				<div class="search">
					<input type="text" name="keyword" class="keyword" />
					<input type="button" value="搜索" class="search_btn"/>
					<p>
						<a href="#">情趣</a>
						<a href="#">巧克力</a>
						<a href="#">香水</a>
						<a href="#">面膜</a>
						<a href="#">钱包</a>
						<a href="#">项链</a>
						<a href="#">杯子</a>
						<a href="#">文具</a>
						<a href="#">眼霜</a>
					</p>
				</div>
				<div class="cart">
					<a href="cart.html" target="_blank">我的购物车</a>
					<span>0</span>
				</div>
			</form>
		</div>
		<div class="nav">
			<div class="nav_inner">
				<!--主导航-->
				<div class="nav_left">
					<!--鼠标移入移除事件，span显示隐藏-->
					<p>
						全部分类
						<span class="icon_up"></span>
						<span class="icon_down"></span>
					</p>
					<div class="category">
						<!--tab—切换  .cate_mist hover事件		.cate_detail 显示隐藏-->
						<div class="cate_mist">
							<h6><img src="{% static 'img/icon/v.png' %}"/>极致美护</h6>
							<div class="detail">
								<a>面膜</a><a>化妆水</a><a>洁面</a><a>防晒</a><br />
								<a>面霜/乳液</a><a>卸妆</a><a>精华</a>
							</div>
							<div class="cate_detail">
								<div class="cate_hot">
									<h5>细致美护</h5>
									<div class="cate_hotBrand">
										<a><img src="{% static 'img/logo/14618102858979.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103017374.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103181301.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103749529.jpg' %}"/></a>
									</div>
								</div>
								<div class="cate_all">
									<div class="cate_item">
										<strong>面部护理</strong>
										<div>
											<a>面膜</a><a>化妆水</a><a>面油</a><a>防晒</a><br />
											<a>面霜/乳液</a><a>精华</a><a>面油</a><br />
											<a>护肤套装</a><a>唇部护理</a><a>精油</a><br />
											<a>美妆工具</a><a>男士专区</a><br />
										</div>
									</div>
									<div class="cate_item">
										<strong>面部护理</strong>
										<div>
											<a>面膜</a><a>化妆水</a><a>面油</a><a>防晒</a><br />
											<a>面霜/乳液</a><a>精华</a><a>面油</a><br />
										</div>
									</div>
									<div class="cate_item">
										<strong>个户保健</strong>
										<div>
											<a>沐浴</a><a>洗发</a><a>面油</a><a>防晒</a><br />
											<a>口腔护理</a><a>精华</a><a>面油</a><br />
											<a>驱蚊</a><a>唇部护理</a><a>精油</a><br />
										</div>
									</div>
								</div>
								<img src="{% static 'img/product/14660608498645.jpg' %}"/>
							</div>
						</div>
						<div class="cate_mist">
							<h6><img src="{% static 'img/icon/1438769925573.png' %}"/>全球零食</h6>
							<div class="detail">
								<a>饼干</a><a>威化</a><a>蜂蜜</a><a>麦片</a><a>糖果</a><br />
								<a>巧克力</a><a>膨化食品</a><a>咖啡</a>
							</div>
							<div class="cate_detail">
								<div class="cate_hot">
									<h5>全球零食</h5>
									<div class="cate_hotBrand">
										<a><img src="{% static 'img/logo/14618102858979.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103017374.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103181301.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103749529.jpg' %}"/></a>
									</div>
								</div>
								<div class="cate_all">
									<div class="cate_item">
										<strong>面部护理</strong>
										<div>
											<a>饼干</a><a>化妆水</a><a>面油</a><a>防晒</a><br />
											<a>面霜/乳液</a><a>精华</a><a>面油</a><br />
											<a>咖啡</a><a>威化</a><a>精油</a><br />
											<a>美妆工具</a><a>男士专区</a><br />
										</div>
									</div>
									<div class="cate_item">
										<strong>面部护理</strong>
										<div>
											<a>面膜</a><a>化妆水</a><a>面油</a><a>防晒</a><br />
											<a>面霜/乳液</a><a>精华</a><a>面油</a><br />
										</div>
									</div>
									<div class="cate_item">
										<strong>个户保健</strong>
										<div>
											<a>沐浴</a><a>洗发</a><a>面油</a><a>防晒</a><br />
											<a>口腔护理</a><a>精华</a><a>面油</a><br />
											<a>驱蚊</a><a>唇部护理</a><a>精油</a><br />
										</div>
									</div>
								</div>
								<img src="{% static 'img/product/14660612076920.jpg' %}"/>
							</div>
						</div>
						<div class="cate_mist">
							<h6><img src="{% static 'img/icon/14387700022379.png' %}"/>创意生活</h6>
							<div class="detail">
								<a>水杯/保温杯</a><a>随身小物件</a><br />
								<a>玩偶</a><a>钥匙挂件</a><a>其他创意礼品</a>
							</div>
							<div class="cate_detail">
								<div class="cate_hot">
									<h5>创意生活</h5>
									<div class="cate_hotBrand">
										<a><img src="{% static 'img/logo/14618102858979.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103017374.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103181301.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103749529.jpg' %}"/></a>
									</div>
								</div>
								<div class="cate_all">
									<div class="cate_item">
										<strong>创意生活</strong>
										<div>
											<a>水杯/保温杯</a><a>化妆水</a><a>面油</a><br />
											<a>面霜/乳液</a><a>精华</a><a>面油</a><br />
											<a>护肤套装</a><a>唇部护理</a><a>精油</a><br />
											<a>美妆工具</a><a>男士专区</a><br />
										</div>
									</div>
									<div class="cate_item">
										<strong>面部护理</strong>
										<div>
											<a>面膜</a><a>化妆水</a><a>面油</a><a>防晒</a><br />
											<a>面霜/乳液</a><a>精华</a><a>面油</a><br />
										</div>
									</div>
									<div class="cate_item">
										<strong>个户保健</strong>
										<div>
											<a>沐浴</a><a>洗发</a><a>面油</a><a>防晒</a><br />
											<a>口腔护理</a><a>精华</a><a>面油</a><br />
											<a>驱蚊</a><a>唇部护理</a><a>精油</a><br />
										</div>
									</div>
								</div>
								<img src="{% static 'img/product/14660607985941.jpg' %}"/>
							</div>
						</div>
						<div class="cate_mist">
							<h6><img src="{% static 'img/icon/14387700336975.png' %}"/>时尚配饰</h6>
							<div class="detail last">
								<a>奢侈品</a><a>配饰</a><a>箱包</a><a>项链</a><br />
								<a>手链</a><a>耳饰</a><a>戒指</a><a>太阳镜</a>
							</div>
							<div class="cate_detail">
								<div class="cate_hot">
									<h5>细致美护</h5>
									<div class="cate_hotBrand">
										<a><img src="{% static 'img/logo/14618102858979.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103017374.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103181301.jpg' %}"/></a>
										<a><img src="{% static 'img/logo/14618103749529.jpg' %}"/></a>
									</div>
								</div>
								<div class="cate_all">
									<div class="cate_item">
										<strong>面部护理</strong>
										<div>
											<a>面膜</a><a>化妆水</a><a>面油</a><a>防晒</a><br />
											<a>面霜/乳液</a><a>精华</a><a>面油</a><br />
											<a>护肤套装</a><a>唇部护理</a><a>精油</a><br />
											<a>美妆工具</a><a>男士专区</a><br />
										</div>
									</div>
									<div class="cate_item">
										<strong>面部护理</strong>
										<div>
											<a>面膜</a><a>化妆水</a><a>面油</a><a>防晒</a><br />
											<a>面霜/乳液</a><a>精华</a><a>面油</a><br />
										</div>
									</div>
									<div class="cate_item">
										<strong>个户保健</strong>
										<div>
											<a>沐浴</a><a>洗发</a><a>面油</a><a>防晒</a><br />
											<a>口腔护理</a><a>精华</a><a>面油</a><br />
											<a>驱蚊</a><a>唇部护理</a><a>精油</a><br />
										</div>
									</div>
								</div>
								<img src="{% static 'img/product/14660608818951.jpg' %}"/>
							</div>
						</div>
					</div>
				</div>
				<ul class="nav_right">
					<li><a href="#">首页</a></li>
					<li><a href="#">极致美护</a></li>
					<li><a href="#">全球零食</a></li>
					<li><a href="#">创意生活</a></li>
					<li><a href="#">时尚配饰</a></li>
					<li><a href="#">尖货女装</a></li>
					<li><a href="#">3C家电</a></li>
				</ul>
			</div>
		</div>
		<div class="detail_main">
			<div class="detail_link">
				<ul>
					<li>
						<a href="index.html" target="_blank">
							<span class="ico_home"></span>
						</a>
						<span class="ico_to"></span>
					</li>
					<li>
						<a href="">极致美护</a>
						<span class="ico_to"></span>
					</li>
					<li>
						<a href="">面部护肤</a>
						<span class="ico_to"></span>
					</li>
					<li>
						<a href="">化妆水</a>
						<span class="ico_to"></span>
					</li>
					<li>
						<a href="">肌水肌肤滋润露</a>
						<span class="ico_to"></span>
					</li>
				</ul>
			</div>
			<div class="detail_info">
				<div class="img_info">
					<div class="goods_show">
						<div class="detail_small" style="background-image: url('{% static jsoner.src %}') ">
							<div class="move_box"></div>
						</div>
						<div class="detail_big">
							<img src="{% static jsoner.src %}" class="big_img" />
						</div>
					</div>
					<div class="detail_share">
						<a><span class="ico_share"></span>分享</a>
						<a><span class="ico_collect"></span>收藏</a>
						<span class="consumer "><span class="ico_info"></span>消费者告知书<span class="show_info"></span></span>
						<div class="toConsumer">
							您好！<br />
							在您选购境外商品前，麻烦您仔细阅读此文，同意本文所告知内容后再进行下单购买：<br />
							1.您在本（公司）网站上购买的境外商品为产地直销商品，仅限个人自用不得进行再销售，商品本身可能无中文标签，您可以查看网站的翻译或者在线联系我们的客服。<br />
							2.您购买的境外商品适用的品质、健康、标识等项目使用标准符合原产国使用标准，但是可能与我国标准有所不同，所以在使用过程中由此可能产生的危害或损失以及其他风险，将由您个人承担。<br />
							3.您在本（公司）网站上购买保税区发货的境外商品时，自动视为由达令极速免税店代您向海关进行申报和代缴税款。<br /><br />
							谢谢！<br /><br />	
							<p class="company">北京普缇客科技有限公司</p>
						</div>
					</div>
				</div>
				<div class="goods_info">
					<h1>{{ jsoner.title }}</h1>
					<dl class="detail_price">
						<dt> 达令价 </dt>
						<dd>
							<div class="de_new_price">
								￥
								<strong>{{ jsoner.now_price }}</strong>
							</div>
							<p>
								海外限时售价
								<span id="old_price">￥{{ jsoner.old_price }}</span>
								<span class="price_off">{{ jsoner.discount }}</span>
							</p>
						</dd>
					</dl>
					<dl class="goods_collect">
						收藏：
						<span>71</span>
					</dl>
					<dl class="goods_num">
						<dt>购买数量</dt>
						<dd>
							<div class="number">
								<a class="btn_add">
									<span class="icon_up"></span>
								</a>
								<a class="btn_reduce">
									<span class="icon_down"></span>
								</a>
								<input class="num_inp" value="1" type="text" />
							</div>
						</dd>
					</dl>
					<div class="goods_btn">
						<a href="">
							<span class="btn_buy">立即购买</span>
						</a>
						<button class="goods_add" id="goods_add" goodsid="{{ jsoner.id }}">添加到购物车</button>
					</div>
					<div class="goods_tip">
						<span class="mr20">
							<span class="ico_mark1"></span>
							正品保证
						</span>
						<span class="mr20">
							<span class="ico_mark2"></span>
							24小时发货
						</span>
						<span class="mr20">
							<span class="ico-mark3"></span>
							满55元快递包邮
						</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div class="assure">
				<ul>
					<li>为什么选择达令<span class="icon_arrow"></span></li>
					<li>100多个品牌授权</li>	
					<li>24小时内发货</li>
					<li>保税区正品</li>
				</ul>
			</div>
			<div class="investor">
				<dl class="first">
					<dt>投资人说达令</dt>
					<dd>“hi，达令，我是鹿晗，达令投资人，投资比影响力更重要的是责任。”</dd>
				</dl>
				<dl class="second">
					<dt>投资人说达令</dt>
					<dd>“达令™一手全球好货——带您购全球！教您神马值得买”<br />连续两年荣获App store 编辑推荐最佳购物类应用！</dd>
				</dl>
			</div>
			<div class="copy_right">
				<p>
					<a href="#">首页</a><span>|</span>
					<a href="#">网站地图</a><span>|</span>
					<a href="#">消费者告知书</a><span>|</span>
					<a href="#">优惠券使用规则</a><span>|</span>
					<a href="#">退换货说明</a><span>|</span>
					<a href="#">关于我们</a><span>|</span>
					<a href="#">联系我们</a>
				</p>
				<p>
					北京普缇客科技有限公司
					<a><img src="{% static 'img/logo/cert.png' %}"/></a>
					<a><img src="{% static 'img/logo/cnnic.png' %}"/></a>
					<img src="{% static 'img/logo/ico_zfb.jpg' %}"/>
				</p>
				<p>Copyright &copy; 2016达令 ， All Rights Reserved | 京ICP备14009583-1 | 京公网备11010502027399 | 食品流通许可证编号： SP1101051510323113</p>
			</div>
		</div>
	</body>
</html>
